@{
    ViewBag.Title = "Home Page";
}

@model P12T.Models.CompositeModel

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <section id="featured-products">
        <h2>Sản phẩm nổi bật</h2>
        @foreach (var product in Model.Products)
        {
            <div class="product">
                <img src="@product.imgURL" width="200" height="300" alt="Product Image">
                <h3>@product.Name</h3>
                <p>@product.Price₫</p>
                <a href="#" class="button add-to-cart-button">Thêm vào giỏ hàng</a>
            </div>
        }
    </section>

    <section id="deals">
        <h2>🔥Deal sốc xả kho - Ưu đãi đến 70%🔥</h2>
        <!-- Loop through deals here -->
    </section>

    <section id="news">
        <h2>Tin tức cập nhật</h2>
        @foreach (var news in Model.News)
        {
            <div class="news-item">
                <img src="@news.imgURL" width="200" height="300" alt="News Image">
                <h3>@news.Title</h3>
                <p>@news.Content</p>
                <a href="#" class="button read-more-button">Đọc thêm</a>
            </div>
        }
    </section>
</body>
</html>
