@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<P12T.Models.Product>

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <section id="featured-products">
        <h2>Sản phẩm nổi bật</h2>
        @foreach (var obj in Model)
        {
            <div class="product ">
                <img src="~/Assets/img/@obj.imgURL" width="200" height="300" alt="Product Image">
                <h3>@obj.Name</h3>
                <p>
                    @string.Format("{0:C}", @obj.Price)
                </p>

                @using (Html.BeginForm("AddOrder", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => obj.ProductId)

                    @Html.Hidden("quantity", 1)

                    @Html.ActionLink("Chi tiết sản phẩm", "DetailProduct", "Home", new { id = obj.ProductId }, new { @class = "btn btn-info" })

                    <button type="submit" class="btn btn-primary mt-2">Thêm vào giỏ hàng</button>
                }
            </div>
        }
    </section>

    <section id="featured-products">
        <h2>🔥Deal sốc xả kho - Ưu đãi đến 70%🔥</h2>
        @foreach (var obj in Model)
        {
            <div class="product">
                <img src="~/Assets/img/@obj.imgURL" width="200" height="300" alt="Product Image">
                <h3>@obj.Name</h3>
                <p>
                    @string.Format("{0:C}", @obj.Price)
                </p>

                @using (Html.BeginForm("AddOrder", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => obj.ProductId)

                    @Html.Hidden("quantity", 1)

                    @Html.ActionLink("Chi tiết sản phẩm", "DetailProduct", "Home", new { id = obj.ProductId }, new { @class = "btn btn-info" })

                    <button type="submit" class="btn btn-primary mt-2">Thêm vào giỏ hàng</button>
                }

            </div>
        }
    </section>

    <section id="featured-products">
        <h2>Tin tức cập nhật</h2>
    </section>
</body>
</html>
