
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@model P12T.Models.Product

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add Product</h1>
    </div>

    <div class="p-5">
        @using (Html.BeginForm("AddProduct", "ProductAdmin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price)
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.imgURL)
                @Html.TextBoxFor(model => model.imgURL, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.imgURL)
            </div>

            <button type="submit" class="btn btn-primary mt-2 w-100">Add Product</button>
        }
    </div>
</div>
