
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Product</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>

    @model IEnumerable<P12T.Models.Product>

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Article List</h2>
            </div>
            <div class="col-6 ">
                @Html.ActionLink("Create new Product", "AddProduct", "ProductAdmin", null, new { @class = "btn btn-primary", @style = "float: inline-end" })
            </div>
        </div>

        <br />

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        ProductID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        IMG
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="25%">
                            @obj.ProductId
                        </td>
                        <td width="25%">
                            @obj.Name
                        </td>
                        <td width="25%">
                            @obj.Price
                        </td>
                        <td width="25%">
                            @obj.imgURL
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                @Html.ActionLink("Edit", "EditProduct", "ProductAdmin", new { id = obj.ProductId }, new { @class = "btn btn-primary mx-2" })
                                @Html.ActionLink("Delete", "DeleteProduct", "ProductAdmin", new { id = obj.ProductId }, new { @class = "btn btn-danger mx-2" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
